.book-card {
    max-height: 500px;
    width: 262px;
    cursor: pointer;

    img {
        width: 230px;
        height: 350px;
        background-size: cover;
    }
}

.book-detail-page {
    img {
        max-height: 600px;
    }
}